body {
    min-height: 960px;
}

h1 {
    text-align: center;
    text-decoration: none;
    border: black;
    color: darkslategray;
}

nav {
    box-shadow: 0 0 10px black;
}

.table>thead>tr>th{
    text-align: center;
}

.table>tbody>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}
  .grafica {
	padding: 0;
	border: none;
}

.mianchor {
    color: white;
}

        /* Reset */
       
.modalmio {
            visibility: hidden;

            transition: visibility 1s;
        }

        .modalmio.activo {
            visibility: visible;
        }

        .modalmio .overlay {
            position: fixed;
            top: 0; bottom: 0;
            left: 0; right: 0;
            z-index: 1000;

            background: rgba(0,0,0,0);

            transition: background 1s;
        }

        .modalmio.activo .overlay {
            background: rgba(0,0,0,0.5);
            /*opacity: .5;*/
        }

        .modalmio .ventana {
            position: fixed;
            left: calc(50% - 250px);
            top: -350px;
            z-index: 1001;

            width: 90%;
            max-width: 500px;
            padding: 26px 5px;

            background: #8dbffe;
            border-radius: 6px;

            transition: top .5s;
        }

        .modalmio.activo .ventana {
            top: 100px;
        }

        .modalmio .cuerpo {
            padding: 1em;
            background: white;
            border-radius: 6px;
        }

        .modalmio .boton-cerrar {
            display: inline-block;

            position: absolute;
            right: 5px; top: 5px;

            font-family:    sans-serif;
            font-weight:    bold;
            font-size:      12px;
            text-align:     center;
            text-decoration:none;

            background: red;
            color: white;
            width: 16px;
            height: 16px;
            border-radius: 50%;
        }
    
        #activar {
            margin: 40px 60px;
        }


.nav > li {
    padding: 0 9px;
    font-size: 18px;
}

.error_icono {
    font-size: 135px;
    color: dodgerblue;
}

.error_titulo {
    font-size: 45px;
    color: darkslategray;
}

.error_numero {
    color: tomato;
}

.error_explicacion {
    color: orange;
}

.app {
    padding-top: 96px;
}

.full-height {
    height: 50vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 160px;
    color: dodgerblue;
    text-shadow: 0 0 10px black;
    border: solid 1px dodgerblue;
    background-color: gray;
    border-radius: 999px;
}

.links > a {
    color: darkslategray;
    padding: 0 28px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .1rem;
/*    text-decoration: none;
*/}

.m-b-md {
    margin-bottom: 30px;
}

@media (max-width: 800px) {

    .title {
        font-size: 80px;
    }

    .links > a {
        font-size: 14px;
        padding: 0 7px;
    }

    .error-content__illust {
        display: none;
    }

    .error-content__messages {
        padding-top: 25px;
    }

}